.c-cart {
  width: 100vw;
  padding: 5rem;
  padding-top: 15vh;
  background: $color-secondary-light;
  display: grid;
  grid-template-rows: 15rem auto 1fr;
  animation: fadeIn 4s ease-in-out;

  h1 {
    position: relative;
    align-self: center;
    color: $color-primary-dark;
    font-size: 5rem;
    font-family: $font-didot;
    font-weight: 900;
    letter-spacing: 1.3rem;
    grid-row-start: 1;
    justify-self: center;
    text-transform: capitalize;
    animation: landFromLeft 5s ease-in-out;
  }

  &__table {
    position: relative;
    background-color: $color-secondary-dark;
    padding: 5rem;
    grid-row-start: 2;
    transform-origin: center;
    animation: moveInUp 4s ease-in-out;

    .table-head {
      color: $color-primary-dark;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-bottom: 2rem;
      border-bottom: 1px solid $color-tertiary-dark;
      margin-bottom: 5rem;
      h4 {
        font-size: 1.5rem;
        justify-self: center;
        text-transform: capitalize;
      }
    }

    .table-item {
      color: $color-primary-dark;
      display: grid;
      font-size: 1.5rem;
      grid-template-columns: repeat(6, 1fr);
      text-transform: capitalize;
      margin-top: 3rem;

      div {
        align-self: center;
        justify-self: center;

        img {
          width: 10rem;
        }

        .qty-box {
          align-self: center;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 2rem;
          justify-self: center;
          &__btn {
            align-self: center;
            transform: scale(1);
            transform-origin: center;
            transition: all 0.5s ease-in-out;

            &:hover {
              transform: scale(1.4);
            }
          }
        }

        .remove {
          font-size: 1.6rem;
        }
      }
    }

    .total {
      color: $color-primary-dark;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-top: 2rem;
      border-top: 1px solid $color-tertiary-dark;
      margin-top: 3rem;
      margin-bottom: 5rem;
      text-align: center;

      &__text {
        grid-column-start: 5;
      }

      &__number {
        grid-column-start: 6;
      }
    }
  }

  &__buttons {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto 30rem;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3rem;
    padding-top: 3rem;
    animation: land-from-right 5s ease-in-out;
    a {
      white-space: nowrap;
    }

    a:nth-child(1) {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    a:nth-child(2) {
      grid-row-start: 2;
      grid-column-start: 2;
    }
  }

  &__empty {
    background-color: $color-secondary-light;
    display: grid;
    width: 100%;
    padding-top: 15vh;
    position: relative;
    animation: arriveLeft 2s ease-in-out;

    .c-product__related-products {
      grid-row-start: 3 !important;
    }

    h1 {
      margin-top: 3%;
      text-align: center;
      font-family: $font-didot;
      font-size: 7rem;
      font-weight: 800;
      text-transform: capitalize;
      letter-spacing: 1rem;
      color: #d28e77;
      animation: arriveRight 3s ease-in-out;
    }

    svg {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      animation: moveInUp 7s ease-in-out;
    }

    #body {
      position: relative;
      transform-origin: center;

      z-index: 1;
    }
    #eye-left {
      position: relative;
      transform-origin: center;
      animation: eye-left 4s ease-in-out infinite 3s;
      z-index: 2;
    }
    #eye-right {
      position: relative;
      transform-origin: center;
      animation: eye-right 4s ease-in-out infinite 3s;
      z-index: 2;
    }

    @keyframes eye-left {
      0% {
        visibility: visible;
        transform: translateX(0rem);
      }
      50% {
        visibility: visible;
        transform: translateX(0.3rem);
      }
      100% {
        visibility: visible;
        transform: translateX(0rem);
      }
    }

    @keyframes eye-right {
      0% {
        visibility: visible;
        transform: translateX(0rem);
      }
      50% {
        visibility: visible;
        transform: translateX(-0.3rem);
      }
      100% {
        visibility: visible;
        transform: translateX(0rem);
      }
    }

    #mouth {
      position: relative;
      transform-origin: center;
      z-index: 2;
    }

    #left-ray {
      transform-origin: 0;
      visibility: hidden;
      transform: scale(1) translateX(1rem);
      animation: left-ray 2s ease-in-out infinite 8s;
    }

    #right-ray {
      transform-origin: 0;
      visibility: hidden;
      transform: scale(1) translateX(1rem);
      animation: right-ray 2s ease-in-out infinite 8s;
    }

    #mountain {
      position: relative;
      z-index: 3;
    }

    #left-mark,
    #center-mark,
    #right-mark {
      visibility: hidden;
    }

    #left-mark {
      animation: question-left 7s ease-in-out infinite 8s;
    }
    #center-mark {
      animation: question-center 7s ease-in-out infinite 8s;
    }
    #right-mark {
      animation: question-right 7s ease-in-out infinite 8s;
    }

    @keyframes question-left {
      0% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
      50% {
        visibility: visible;
        transform: scale(1.1) translateX(-4rem) translateY(0rem);
      }
      100% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
    }

    @keyframes question-center {
      0% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
      50% {
        visibility: visible;
        transform: scale(1.1) translateX(-1rem) translateY(0rem);
      }
      100% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
    }

    @keyframes question-right {
      0% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
      50% {
        visibility: visible;
        transform: scale(1.1) translateX(2rem) translateY(0rem);
      }
      100% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(2rem);
      }
    }

    @keyframes left-ray {
      0% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(1rem);
      }
      50% {
        visibility: visible;
        transform: scale(1.1) translateX(-2rem) translateY(-1rem);
      }
      100% {
        visibility: visible;
        transform: scale(1) translateX(1rem) translateY(1rem);
      }
    }

    @keyframes right-ray {
      0% {
        visibility: visible;
        transform: scale(1) translateX(0rem);
      }
      50% {
        visibility: visible;
        transform: scale(1) translateX(1rem);
      }
      100% {
        visibility: visible;
        transform: scale(1) translateX(0rem);
      }
    }
  }
}

//      Ipad & Tablet Styles Starts Here
@media (max-width: 1200px) {
  .c-cart__empty svg {
    width: 50vw;
  }
}
//      Ipad & Tablet Styles Ends Here
