.c-product {
  width: 100%;
  padding-top: 10%;
  background-color: $color-secondary-light;
  display: grid;
  grid-template-columns: 10rem 1fr 5rem 1fr 10rem;
  grid-template-rows: auto auto;

  &__left-panel {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 5rem 70rem 0.1rem 10rem 5rem;

    .frame {
      position: absolute;
      width: 51rem;
      height: 70rem;
      margin-left: auto;
      grid-row-start: 2;
      left: 10%;
      animation: floatFrame 6s ease-in-out 3s infinite;

      // This overwrites the source component for this page
      .c-frame .c-frame-image svg {
        position: relative;
        top: 0vh;
        left: 0%;
        width: 51rem;
        height: 70rem;
        z-index: 1;
      }

      .c-frame .c-frame-image img {
        position: relative;
        top: -100%;
        left: 6rem;
        margin-top: 13rem;
        max-width: 40rem;
        max-height: 43rem;
        z-index: 0;
      }
    }
    .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-start: 2;
      grid-row-start: 4;
      justify-items: center;
      margin-top: -10%;
      width: 51rem;
      z-index: 2;

      .product-variant {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__right-panel {
    grid-column-start: 4;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 5rem 5rem 5rem 5rem 25rem 5rem 5rem 5rem;
    animation: fromRight 2s ease-in-out;

    .right-panel {
      &__address {
        grid-row-start: 2;
        grid-column-start: 2;
        display: grid;
        grid-template-columns: repeat(6, auto);
        align-items: center;
        font-size: 2rem;
        color: $color-primary-dark;
        flex-direction: row-reverse;
        text-transform: capitalize;
      }

      &__name {
        align-self: center;
        color: $color-primary-dark;
        grid-row-start: 3;
        grid-column-start: 2;
        font-size: 4rem;
        text-transform: capitalize;
      }
      &__price {
        align-self: center;
        color: $color-primary-light;

        grid-row-start: 4;
        grid-column-start: 2;
      }
      &__description {
        color: #d28e77;
        grid-row-start: 5;
        grid-column-start: 2;
        width: 80%;
        height: 25rem;
        font-size: 1.7rem;
      }

      &__action {
        align-self: center;
        color: #d28e77;
        display: grid;
        grid-row-start: 6;
        grid-column-start: 2;
        grid-template-columns: 1fr 1fr;
        column-gap: 10rem;
        width: 80%;

        .f-bs {
          margin-top: unset !important;
          color: $color-primary-dark;
          grid-column-start: 1;
          .f-bs-arrow {
            fill: rgba($color-primary-light, $alpha: 0.9);
          }
          .f-bs-line {
            background: $color-primary-light;
          }
        }
        .button-wishlist {
          justify-self: center;
          align-self: center;
          grid-column-start: 2;
          grid-row-start: 1;
          &:hover {
            animation: small-pulse 1.5s ease-in-out infinite;
          }
          svg {
            justify-self: center;
            align-self: center;
            grid-column-start: 2;
          }
        }
      }

      &__size {
        align-self: center;
        border-top: 2px solid $color-primary-light;
        color: $color-primary-dark;
        padding-top: 5%;
        grid-row-start: 8;
        grid-column-start: 2;
        width: 80%;
      }
    }
  }

  &__related-products {
    width: 100vw;
    height: 35rem;
    background-color: $color-primary-light;
    display: grid;
    grid-template-rows: 10rem 20rem;
    grid-row-start: 2;
    row-gap: 0rem;
    justify-content: center;

    h2 {
      font-size: 3rem;
      letter-spacing: center;
      color: $color-secondary-dark;
      grid-row-start: 1;
      align-self: center;
      margin-left: 2%;
      text-transform: capitalize;
    }

    .related-products {
      &__images {
        display: grid;
        grid-template-columns: auto 20rem 20rem 20rem 20rem 20rem auto;
        column-gap: 2rem;
        a {
          &:nth-child(1) {
            grid-column-start: 2;
          }
          &:nth-child(2) {
            grid-column-start: 3;
          }
          &:nth-child(3) {
            grid-column-start: 4;
          }
          &:nth-child(4) {
            grid-column-start: 5;
          }
          &:nth-child(5) {
            grid-column-start: 6;
          }
          img {
            width: 20rem;
            height: 20rem;
          }
        }
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    background-color: rgba($color-primary-light, $alpha: 0.9);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    z-index: 3;

    .modal-margin {
      align-items: center;
      background-color: $color-secondary-dark;
      display: grid;
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
      justify-content: center;
      width: 65rem;
      height: 75rem;
      margin: auto;
      margin-top: 2%;
      z-index: 4;

      a {
        grid-row-start: 1;
        grid-column-start: 3;
        i {
          color: $color-primary-dark;
          transition: all 1s ease-in-out;
          &:hover {
            transform: scale(1.9) rotate(2deg);
          }
        }
      }

      .modal-image {
        background-color: unset;
        width: 60rem;
        grid-row-start: 2;
        grid-column-start: 2;
        height: 65rem;
        margin: auto;
        margin-top: 2%;
        z-index: 4;

        img {
          width: 60rem;
        }
      }
    }
  }
}

//      Ipad & Tablet Styles Starts Here
@media (max-width: 1200px) {
  .c-product {
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: auto auto auto auto;

    &__left-panel {
      transform: translateX(5vw);
      grid-column-start: 2;
      grid-row-start: 1;
      .images {
        justify-items: end;
        align-items: end;
        margin-top: 0%;
      }
    }

    &__right-panel {
      grid-row-start: 2;
      grid-column-start: 2;
      padding: 5rem;
      .right-panel__action {
        grid-column-gap: 0;
        column-gap: 0;
      }
    }
    &__modal {
      grid-row-start: 3;
      grid-column-start: 2;
    }
    &__related-products {
      grid-row-start: 4;
      grid-column-start: 2;
      display: none;
    }
  }
}
//      Ipad & Tablet Styles Ends Here

//      Mobile Styles Starts Here
@media (max-width: 765px) and (min-width: 300px) {
  .c-product {
    &__left-panel {
      grid-column-start: 1;
      transform: translateX(5vw) scale(0.65);
      .images {
        justify-items: baseline;
      }
    }

    &__right-panel {
      grid-row-start: 2;
      grid-column-start: 1;
      padding: unset;
      transform: scale(0.75) translateY(-50%);

      .right-panel__address {
        font-size: 2.5rem;
      }

      .right-panel__action {
        column-gap: 1rem;
        width: 80%;
        margin-top: 25%;
      }
    }

    &__modal .modal-margin {
      width: 100vw;

      .modal-image {
        grid-row-start: 2;
        grid-column-start: 2;

        margin-top: 20vh;
      }
    }
  }
}
//      Mobile Styles Ends Here
