.l-register {
  background-color: $color-secondary-light;
  color: $color-primary-light;
  column-gap: 10rem;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  width: 100%;
  height: 100vh;
  padding-top: 30vh;

  .f-bp {
    min-width: 25rem;
    max-width: 25rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.813vw;
    position: relative;
    align-items: center;
    margin-top: unset;
    display: inline-flex;
    background-color: #d28e77;
    padding: 0 3.125vw 0 4.688vw;
    line-height: 3.75vw;
    letter-spacing: 0.104vw;
    text-transform: uppercase;
    transition: background-color 0.4s ease-out;
    transform-origin: 0px 0px;
    transition: all 2s ease-out;
    opacity: 1;
  }

  .input {
    margin: unset;
    max-width: 80vw !important;
    max-width: unset !important;
    min-width: unset !important;
    font-size: 1.6rem;
    z-index: 0;
  }

  &__login {
    grid-column-start: 2;
    color: $color-primary-dark;
    display: grid;
    grid-template-rows: 5rem 20rem 5rem;
    grid-row-gap: 5rem;
    row-gap: 5rem;
    animation: moveInUp 2s ease-in-out;

    h3 {
      font-size: 2.6rem;
      grid-row-start: 1;
    }

    form {
      display: grid;
      grid-template-rows: 5rem 5rem;
      row-gap: 5rem;
      #mail {
        grid-row-start: 2;
      }
      #password {
        grid-row-start: 3;
      }
    }

    .action {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-start: 3;
      row-gap: 1rem;
      animation: arriveLeft 3s ease-in-out;

      .remember {
        grid-row-start: 1;
        display: grid;
        grid-template-columns: 1fr 1rem auto 3rem;

        .MuiCheckbox-colorSecondary.Mui-checked {
          color: $color-primary-dark !important;
        }
        .f-bp {
          grid-column-start: 1;
          grid-row-start: 1;
        }

        div {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-start: 3;

          > * {
            align-self: center;
            margin-right: 0.5rem;
          }
        }
      }

      a {
        grid-row-start: 5;
        p {
          margin-top: 2.5rem;
        }
      }
    }
  }

  &__register {
    display: grid;
    grid-column-start: 3;
    color: #d28e77;
    display: grid;
    grid-template-rows: 5rem 20rem 5rem;
    grid-row-gap: 5rem;
    row-gap: 5rem;
    animation: menu-down 3s ease-in-out;

    h3 {
      color: $color-primary-dark;
      font-size: 2.6rem;

      grid-row-start: 1;
    }

    form {
      display: grid;
      grid-template-rows: 5rem 5rem;
      row-gap: 5rem;
    }

    .action {
      grid-row-start: 3;
      animation: arriveRight 3s ease-in-out;
    }
  }

  &__account {
    background-color: $color-secondary-light;
    display: block;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 5%;
    position: relative;
    animation: arriveLeft 2s ease-in-out;

    h3 {
      margin-top: 3%;
      text-align: center;
      font-family: $font-didot;
      font-size: 7rem;
      font-weight: 800;
      text-transform: capitalize;
      letter-spacing: 1rem;
      color: #d28e77;
      animation: arriveRight 3s ease-in-out;
    }

    .left-menu {
      grid-row-start: 2;
      background-color: $color-secondary-dark;
      padding: 5rem;
      width: 75rem;
      min-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      min-height: 65rem;
      /* border-radius: 4px; */
      animation: land-from-left 2s ease-in-out;

      &--title {
        font-size: 2.5rem;
        color: $color-primary-dark;
        margin-bottom: 5rem;
        text-align: center;
        letter-spacing: 0.7rem;
      }
      form {
        .form-group {
          font-size: 1.4rem;
          font-weight: 200;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding-left: 1rem;
          margin-left: auto;
          margin-right: auto;
          margin-top: 1.3rem;
          width: 50rem;
          height: 3rem;

          .field-label {
            align-self: center;
            justify-self: start;
            color: $color-primary-light;
            font-weight: 600;
          }

          input {
            appearance: textfield;
            background-color: $color-secondary-light;
            border-style: unset;
            border-color: unset;
            border-image: unset;
            color: $color-primary-dark !important;
            cursor: text;
            display: inline-block;
            font: inherit;
            font-size: 1.5rem;
            font-weight: 700;
            justify-self: start;
            letter-spacing: normal;
            padding-left: 1rem;
            text-align: start;
            text-indent: 0px;
            text-rendering: auto;
            text-transform: none;
            text-shadow: none;
            margin: 0em;
            min-height: 3.5rem;
            max-height: 3.5rem;
            -webkit-appearance: textfield;
            -webkit-rtl-ordering: logical;
            -webkit-writing-mode: horizontal-tb !important;
            word-spacing: normal;

            &:focus {
              background-color: $color-secondary-light;
              padding: 2%;
              outline: none;
            }

            &::placeholder {
              color: $color-primary-light !important;
              font-size: $font-small;
            }
          }

          .srv-validation-message {
            position: relative !important;
            top: -1rem !important;
            color: $color-primary-light !important;
          }

          a {
            grid-column-start: 2;
            margin-top: 3rem;
          }
        }

        .account {
          grid-template-columns: 3rem 1fr;

          input {
            align-self: center;
            grid-column-start: 1;
            grid-row-start: 1;
          }
          label {
            align-self: center;
            color: $color-primary-light;
            font-weight: 600;
            grid-column-start: 2;
            grid-row-start: 1;
          }
        }
      }
    }
  }
}

//      Ipad & Tablet Styles Starts Here
@media (max-width: 1200px) {
  .l-register {
    grid-template-columns: auto 90vw auto;
    column-gap: 0;
    grid-column-gap: 0;
    height: max-content;

    .input {
      width: 75vw;
    }

    &__login {
      grid-row-start: 1;
      grid-column-start: 2;
      margin-bottom: 15vh;
      .action .remember {
        grid-row-start: 1;
        display: grid;
        grid-template-rows: auto auto;
        div {
          grid-template-columns: auto auto;
          grid-row-start: 2;
          grid-column-start: 1;
        }
      }
    }

    &__register {
      grid-row-start: 2;
      grid-column-start: 2;
      margin-top: 5vh;
      margin-bottom: 15vh;
    }
  }
}
//      Ipad & Tablet Styles Ends Here

//      Mobile Styles Starts Here
@media (max-width: 765px) and (min-width: 300px) {
  .l-register {
    .f-bp {
      transform: scale(0.7);
    }
  }
}
//      Mobile Styles Ends Here

// Style for the Post Layout Ends
