$color-primary-light: #dbb59d;
$color-primary-dark: #d28e77;

$color-secondary-light: #fffaf0;
$color-secondary-dark: #ffeee3;

$color-tertiary-dark: #fdd8d3;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font: "PontanoSans-Regular", sans-serif;
$default-font-size: 1.6rem;

// GRID
$grid-width: 160rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-large: 20rem;
