@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400|Roboto:700,400");

@font-face {
  font-family: "Didot-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Didot-Regular") format("opentype");
}

* {
  box-sizing: border-box;
}
.border-1px-wisteria {
  border: 1px solid var(--wisteria);
}
.canvas-test {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 4097px;
  width: 1060px;
}
.canvas-test .art-made-with-felt {
  left: 34px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}
.canvas-test .art-made-with-felt-1 {
  margin-right: 4px;
  margin-top: 62px;
  min-height: 56px;
  min-width: 369px;
}
.canvas-test .art-made-with-felt-2 {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 19px;
  min-height: 56px;
}
.canvas-test .auto-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 3px;
  min-height: 1535px;
  width: 1057px;
}
.canvas-test .auto-flex1 {
  align-items: center;
  display: flex;
  height: 671px;
  margin-left: 13px;
  margin-top: 76px;
  min-width: 883px;
}
.canvas-test .auto-flex2 {
  align-items: center;
  display: flex;
  margin-right: 7.31px;
  min-width: 982px;
}
.canvas-test .background-1 {
  height: 1px;
  left: 528px;
  position: absolute;
  top: 400px;
  width: 1px;
}
.canvas-test .background-2 {
  height: 806px;
  left: 0px;
  position: absolute;
  top: -8px;
  width: 1057px;
}
.canvas-test .background-shape {
  height: 246px;
  left: 529px;
  position: absolute;
  top: 432px;
  width: 433px;
}
.canvas-test .base {
  height: 22px;
  left: 746px;
  position: absolute;
  top: 626px;
  width: 87px;
}
.canvas-test .base-1 {
  height: 74px;
  left: 345px;
  position: absolute;
  top: 327px;
  width: 168px;
}
.canvas-test .base-2 {
  height: 39px;
  left: 509px;
  position: absolute;
  top: 374px;
  width: 59px;
}
.canvas-test .big-frame-3 {
  height: 379px;
  left: -95px;
  position: absolute;
  top: -1611px;
  width: 260px;
}
.canvas-test .big-frame-3-1 {
  height: 379px;
  left: -637px;
  position: absolute;
  top: -1611px;
  width: 260px;
}
.canvas-test .blankheart-24px {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-left: 39px;
  overflow: hidden;
  width: 24px;
}
.canvas-test .blog {
  letter-spacing: 0px;
  margin-left: 39px;
  min-height: 14px;
  min-width: 26px;
}
.canvas-test .card {
  align-items: flex-end;
  display: flex;
  height: 449px;
  left: 572px;
  min-width: 405px;
  padding: 12.2px 0;
  position: absolute;
  top: 13px;
}
.canvas-test .card-1 {
  align-items: flex-start;
  display: flex;
  height: 326px;
  left: 313px;
  min-width: 316px;
  padding: 1.9px 0;
  position: absolute;
  top: 343px;
}
.canvas-test .card-2 {
  align-items: flex-start;
  display: flex;
  height: 449px;
  justify-content: flex-end;
  left: 0px;
  min-width: 405px;
  padding: 7.6px 3.9px;
  position: absolute;
  top: 0px;
}
.canvas-test .card-3 {
  left: 629px;
  top: 70px;
}
.canvas-test .card-4 {
  left: 370px;
  top: 400px;
}
.canvas-test .card-5 {
  left: 57px;
  top: 57px;
}
.canvas-test .card-6 {
  align-items: flex-start;
  display: flex;
  height: 434px;
  justify-content: flex-end;
  left: 533px;
  min-width: 425px;
  padding: 31.1px 38.5px;
  position: absolute;
  top: 287px;
}
.canvas-test .close-24px {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 41px;
  padding: 3.4px 3.5px;
  width: 24px;
}
.canvas-test .ellipse-1 {
  height: 245px;
  left: 37px;
  position: absolute;
  top: 70px;
  width: 249px;
}
.canvas-test .ellipse-1-1 {
  height: 287px;
  left: 79px;
  position: absolute;
  top: 65px;
  width: 288px;
}
.canvas-test .ellipse-1-2 {
  height: 211px;
  left: 40px;
  position: absolute;
  top: 46px;
  width: 222px;
}
.canvas-test .ellipse-1-3 {
  height: 289px;
  left: 43px;
  position: absolute;
  top: 81px;
  width: 286px;
}
.canvas-test .ellipse-2 {
  height: 80px;
  left: 8px;
  position: absolute;
  top: 195px;
  width: 323px;
}
.canvas-test .ellipse-2-1 {
  height: 375px;
  left: 239px;
  position: absolute;
  top: 31px;
  width: 68px;
}
.canvas-test .ellipse-2-2 {
  height: 126px;
  left: 0px;
  position: absolute;
  top: 121px;
  width: 265px;
}
.canvas-test .ellipse-2-3 {
  height: 94px;
  left: 10px;
  position: absolute;
  top: 228px;
  width: 370px;
}
.canvas-test .ellipse-3 {
  height: 9px;
  left: 66px;
  position: absolute;
  top: 62px;
  width: 13px;
}
.canvas-test .ellipse-3-1 {
  height: 15px;
  left: 42px;
  position: absolute;
  top: 240px;
  width: 13px;
}
.canvas-test .ellipse-3-2 {
  height: 11px;
  left: 156px;
  position: absolute;
  top: 15px;
  width: 11px;
}
.canvas-test .ellipse-3-3 {
  height: 12px;
  left: 76px;
  position: absolute;
  top: 71px;
  width: 16px;
}
.canvas-test .ellipse-4 {
  height: 11px;
  margin-left: 85px;
  margin-top: 282px;
  width: 15px;
}
.canvas-test .ellipse-5 {
  height: 11px;
  margin-right: 333px;
  margin-top: 57px;
  width: 15px;
}
.canvas-test .ellipse78 {
  height: 2px;
  left: 38px;
  position: absolute;
  top: 44px;
  width: 3px;
}
.canvas-test .ellipse80 {
  height: 3px;
  left: 45px;
  position: absolute;
  top: 43px;
  width: 3px;
}
.canvas-test .entry-the-shop {
  left: 91px;
  letter-spacing: 2px;
  position: absolute;
  top: 199px;
  width: 128px;
}
.canvas-test .fill-27 {
  height: 82px;
  left: 489px;
  position: absolute;
  top: 324px;
  width: 90px;
}
.canvas-test .footer {
  height: 809px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1055px;
}
.canvas-test .frame-50 {
  height: 91px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 91px;
}
.canvas-test .frame-53 {
  align-items: center;
  display: flex;
  margin-left: 471px;
  margin-top: 0.79px;
  min-width: 415px;
  padding: 0 0.5px;
}
.canvas-test .frame-54 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 799px;
  padding: 0 23.3px;
  position: absolute;
  top: 536px;
  width: 1057px;
}
.canvas-test .frame-55 {
  align-items: flex-end;
  display: flex;
  height: 799px;
  left: 0px;
  min-width: 1057px;
  position: absolute;
  top: 536px;
}
.canvas-test .frame-56 {
  height: 100px;
  left: 849px;
  position: absolute;
  top: 441px;
  width: 100px;
}
.canvas-test .g1012 {
  height: 290px;
  left: 470px;
  position: absolute;
  top: 285px;
  width: 555px;
}
.canvas-test .g1012-1 {
  height: 100px;
  left: 509px;
  position: absolute;
  top: 311px;
  width: 104px;
}
.canvas-test .g978 {
  align-self: flex-end;
  height: 72px;
  margin-right: 165px;
  margin-top: 66px;
  width: 63px;
}
.canvas-test .g978-1 {
  height: 309px;
  left: 0px;
  position: absolute;
  top: 118px;
  width: 331px;
}
.canvas-test .gift-24px {
  height: 25px;
  margin-left: 40px;
  width: 21px;
}
.canvas-test .gmail {
  align-items: flex-end;
  display: flex;
  height: 13px;
  left: 122px;
  padding: 2px 1px;
  position: absolute;
  top: 450px;
  width: 16px;
}
.canvas-test .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 82px;
  width: 1057px;
}
.canvas-test .heart {
  height: 141px;
  left: 413px;
  position: absolute;
  top: 230px;
  width: 151px;
}
.canvas-test .hero {
  height: 619px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1057px;
}
.canvas-test .home {
  align-items: flex-start;
  display: flex;
  height: 16px;
  left: 121px;
  overflow: hidden;
  padding: 1.2px 0;
  position: absolute;
  top: 318px;
  width: 16px;
}
.canvas-test .i-want-read-more {
  letter-spacing: 0px;
  min-height: 19px;
  width: 140px;
}
.canvas-test .img3850-2 {
  height: 273px;
  left: -72px;
  position: absolute;
  top: -1558px;
  width: 207px;
}
.canvas-test .img3850-2-1 {
  height: 273px;
  left: -614px;
  position: absolute;
  top: -1558px;
  width: 207px;
}
.canvas-test .know-more {
  left: -66px;
  letter-spacing: 0px;
  position: absolute;
  top: -1604px;
}
.canvas-test .know-more-1 {
  left: -608px;
  letter-spacing: 0px;
  position: absolute;
  top: -1604px;
}
.canvas-test .leaf {
  height: 135px;
  left: 561px;
  position: absolute;
  top: 445px;
  width: 121px;
}
.canvas-test .leaf-1 {
  height: 27px;
  left: 571px;
  position: absolute;
  top: 553px;
  width: 108px;
}
.canvas-test .leaf-2 {
  height: 73px;
  left: 785px;
  position: absolute;
  top: 562px;
  width: 142px;
}
.canvas-test .leaf-3 {
  height: 105px;
  left: 694px;
  position: absolute;
  top: 509px;
  width: 136px;
}
.canvas-test .leaf-4 {
  height: 142px;
  left: 826px;
  position: absolute;
  top: 474px;
  width: 203px;
}
.canvas-test .leaf-5 {
  height: 156px;
  left: 830px;
  position: absolute;
  top: 447px;
  width: 104px;
}
.canvas-test .leaf-bottom {
  height: 56px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 177px;
}
.canvas-test .leaf-bottom-1 {
  height: 124px;
  left: 3px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.canvas-test .leaf-me-alone {
  height: 36px;
  left: 678px;
  position: absolute;
  top: 547px;
  width: 69px;
}
.canvas-test .leaf-me-alone-1 {
  height: 92px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 94px;
}
.canvas-test .leaf-me-alone-2 {
  height: 230px;
  left: 306px;
  position: absolute;
  top: 116px;
  width: 129px;
}
.canvas-test .leaf-me-alone-3 {
  height: 295px;
  left: 426px;
  position: absolute;
  top: 77px;
  width: 172px;
}
.canvas-test .leaf-me-alone-4 {
  height: 316px;
  left: 425px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.canvas-test .leaf-me-alone-5 {
  height: 92px;
  left: 431px;
  position: absolute;
  top: 263px;
  width: 115px;
}
.canvas-test .leaf-me-alone-6 {
  height: 95px;
  left: 58px;
  position: absolute;
  top: 47px;
  width: 65px;
}
.canvas-test .leaf-me-alone-7 {
  height: 121px;
  left: 118px;
  position: absolute;
  top: 32px;
  width: 86px;
}
.canvas-test .leaf-me-alone-8 {
  height: 130px;
  left: 117px;
  position: absolute;
  top: 0px;
  width: 39px;
}
.canvas-test .leaf-me-alone-9 {
  height: 38px;
  left: 120px;
  position: absolute;
  top: 108px;
  width: 59px;
}
.canvas-test .learn-more {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 12px;
  font-weight: 700;
  left: 123px;
  letter-spacing: 2px;
  position: absolute;
  top: 241px;
  width: 82px;
}
.canvas-test .learn-more-1 {
  left: 163px;
  letter-spacing: 2px;
  position: absolute;
  top: 258px;
}
.canvas-test .learn-more-2 {
  left: 141px;
  letter-spacing: 2px;
  position: absolute;
  top: 282px;
}
.canvas-test .line-4 {
  height: 8px;
  margin-right: 2px;
  margin-top: 11px;
  width: 1058px;
}
.canvas-test .memberfilled-24px {
  align-items: flex-end;
  display: flex;
  height: 22px;
  justify-content: center;
  margin-left: 40px;
  overflow: hidden;
  padding: 3px 0;
  width: 24px;
}
.canvas-test .my-contact {
  color: white;
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 32px;
  left: 149px;
  letter-spacing: 0px;
  line-height: 56px;
  position: absolute;
  top: 231px;
  white-space: nowrap;
}
.canvas-test .overlap-group {
  align-items: flex-end;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 671px;
  width: 341px;
}
.canvas-test .overlap-group1 {
  height: 1335px;
  position: relative;
  width: 1057px;
}
.canvas-test .overlap-group10 {
  height: 2912px;
  margin-bottom: -2112px;
  position: relative;
  width: 1057px;
}
.canvas-test .overlap-group11 {
  height: 28px;
  margin-right: -524px;
  margin-top: 158px;
  position: relative;
  width: 115px;
}
.canvas-test .overlap-group12 {
  height: 379px;
  margin-right: -597px;
  margin-top: 1094px;
  position: relative;
  width: 260px;
}
.canvas-test .overlap-group13 {
  height: 28px;
  margin-right: 18px;
  margin-top: 158px;
  position: relative;
  width: 115px;
}
.canvas-test .overlap-group14 {
  height: 379px;
  margin-right: -55px;
  margin-top: 1094px;
  position: relative;
  width: 260px;
}
.canvas-test .overlap-group2 {
  height: 427px;
  margin-right: 69px;
  margin-top: 39px;
  position: relative;
  width: 613px;
}
.canvas-test .overlap-group3 {
  left: unset;
  margin-left: 5px;
  margin-top: 78px;
  position: unset;
  top: unset;
}
.canvas-test .overlap-group4 {
  align-items: flex-end;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-left: 101px;
  min-height: 671px;
  width: 341px;
}
.canvas-test .overlap-group5 {
  height: 849px;
  margin-left: 5px;
  margin-top: 100px;
  position: relative;
  width: 1055px;
}
.canvas-test .overlap-group6 {
  height: 91px;
  margin-left: -31px;
  margin-top: -34px;
  position: relative;
  width: 91px;
}
.canvas-test .overlap-group6-1 {
  height: 406px;
  margin-left: -18px;
  position: relative;
  width: 430px;
}
.canvas-test .overlap-group6-2 {
  height: 124px;
  left: -5px;
  position: absolute;
  top: 3px;
  width: 193px;
}
.canvas-test .overlap-group6-3 {
  height: 731px;
  left: -5px;
  position: absolute;
  top: 78px;
  width: 1057px;
}
.canvas-test .overlap-group7 {
  height: 16px;
  position: relative;
  width: 25px;
}
.canvas-test .overlap-group7-1 {
  height: 295px;
  margin-left: -2px;
  position: relative;
  width: 304px;
}
.canvas-test .overlap-group7-2 {
  height: 678px;
  left: -0px;
  position: absolute;
  top: -141px;
  width: 1029px;
}
.canvas-test .overlap-group7-3 {
  align-items: flex-end;
  background-color: var(--wisteria);
  border-radius: 18px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 574px;
  min-width: 255px;
  padding: 12.5px 14px;
  position: absolute;
  top: 31px;
}
.canvas-test .overlap-group8 {
  height: 23px;
  margin-top: -0.38px;
  position: relative;
  width: 25px;
}
.canvas-test .overlap-group8-1 {
  height: 434px;
  position: relative;
  width: 397px;
}
.canvas-test .overlap-group8-2 {
  align-items: flex-end;
  background-color: var(--wisteria);
  border-radius: 18px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 34px;
  min-width: 255px;
  padding: 10px 57px;
  position: absolute;
  top: 360px;
}
.canvas-test .overlap-group8-3 {
  height: 371px;
  position: relative;
  width: 347px;
}
.canvas-test .overlap-group9 {
  height: 17px;
  position: relative;
  width: 17px;
}
.canvas-test .overlap-group9-1 {
  height: 669px;
  position: relative;
  width: 977px;
}
.canvas-test .path1223 {
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.canvas-test .path1225 {
  height: 3px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 3px;
}
.canvas-test .path1227 {
  height: 3px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 2px;
}
.canvas-test .path1229 {
  height: 11px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 10px;
}
.canvas-test .path1231 {
  height: 8px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 4px;
}
.canvas-test .path1233 {
  height: 3px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 2px;
}
.canvas-test .path1235 {
  height: 2px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 2px;
}
.canvas-test .path588 {
  height: 2px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 2px;
}
.canvas-test .path590 {
  height: 2px;
  left: 14px;
  position: absolute;
  top: 5px;
  width: 2px;
}
.canvas-test .path594 {
  height: 3px;
  left: 12px;
  position: absolute;
  top: 6px;
  width: 3px;
}
.canvas-test .path598 {
  height: 2px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 5px;
}
.canvas-test .path76 {
  height: 19px;
  left: 31px;
  position: absolute;
  top: 36px;
  width: 22px;
}
.canvas-test .path82 {
  height: 3px;
  left: 41px;
  position: absolute;
  top: 44px;
  width: 2px;
}
.canvas-test .path84 {
  height: 1px;
  left: 38px;
  position: absolute;
  top: 43px;
  width: 2px;
}
.canvas-test .path86 {
  height: 2px;
  left: 45px;
  position: absolute;
  top: 42px;
  width: 2px;
}
.canvas-test .path88 {
  height: 1px;
  left: 41px;
  position: absolute;
  top: 47px;
  width: 3px;
}
.canvas-test .path884 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.canvas-test .place {
  align-self: center;
  letter-spacing: 0px;
  margin-left: 3px;
  min-height: 21px;
  min-width: 50px;
}
.canvas-test .rectangle-14 {
  background-color: white;
  border-radius: 18px;
  height: 50px;
  left: 271px;
  position: absolute;
  top: 31px;
  width: 255px;
}
.canvas-test .rectangle-16 {
  height: 28px;
  left: -95px;
  position: absolute;
  top: -1611px;
  width: 115px;
}
.canvas-test .rectangle-16-1 {
  height: 28px;
  left: -637px;
  position: absolute;
  top: -1611px;
  width: 115px;
}
.canvas-test .search-24px {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-left: 41px;
  overflow: hidden;
  width: 24px;
}
.canvas-test .shop {
  letter-spacing: 0px;
  min-height: 14px;
  min-width: 30px;
}
.canvas-test .span {
  color: rgba(210, 142, 119, 1);
  font-family: "Didot-Regular", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 56px;
}
.canvas-test .span2 {
  color: rgba(210, 142, 119, 1);
  font-family: "Didot-Regular", Helvetica, Arial, serif;
  font-size: 34px;
  letter-spacing: 0px;
  line-height: 42px;
}
.canvas-test .text- {
  align-self: center;
  letter-spacing: 0px;
  margin-left: 35px;
  margin-top: 19px;
  min-height: 98px;
  width: 180px;
}
.canvas-test .text-1 {
  color: var(--black);
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 16px;
  height: 72px;
  left: 31px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  top: 240px;
  width: 375px;
}
.canvas-test .text-2 {
  letter-spacing: 0px;
  min-height: 24px;
  text-align: center;
  width: 226px;
}
.canvas-test .text-3 {
  left: 149px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  top: 314px;
}
.canvas-test .text-4 {
  left: 149px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
}
.canvas-test .text-5 {
  left: 149px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  top: 445px;
  white-space: nowrap;
}
.canvas-test .text-6 {
  color: var(--gray);
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 32px;
  left: 275px;
  letter-spacing: 0px;
  line-height: 56px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.canvas-test .the-blog {
  left: 106px;
  letter-spacing: 0px;
  position: absolute;
  top: 133px;
}
.canvas-test .the-gallery {
  left: 128px;
  letter-spacing: 0px;
  position: absolute;
  top: 109px;
}
.canvas-test .the-shop-online {
  left: 92px;
  letter-spacing: 0px;
  position: absolute;
  top: 114px;
  width: 119px;
}
.canvas-test .the-shop-online-1 {
  left: 95px;
  letter-spacing: 0px;
  position: absolute;
  top: 88px;
  width: 105px;
}
.canvas-test .une-web-logo {
  height: 59px;
  width: 96px;
}
.canvas-test .une-web-logo-1 {
  height: 59px;
  left: 53px;
  position: absolute;
  top: 637px;
  width: 96px;
}
.canvas-test .vector {
  height: 13px;
  width: 16px;
}
.canvas-test .vector-1 {
  height: 15px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 16px;
}
.canvas-test .vector-2 {
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}
.canvas-test .vector-3 {
  height: 611px;
  left: 0px;
  position: absolute;
  top: 120px;
  width: 1057px;
}
.canvas-test .vector-4 {
  height: 349px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 313px;
}
.canvas-test .vector-4-1 {
  height: 347px;
  left: 18px;
  position: absolute;
  top: 23px;
  width: 404px;
}
.canvas-test .vector-4-2 {
  height: 285px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 275px;
}
.canvas-test .vector-4-3 {
  height: 410px;
  left: 17px;
  position: absolute;
  top: 13px;
  width: 357px;
}
.canvas-test .vector-5 {
  height: 293px;
  left: 0px;
  position: absolute;
  top: 41px;
  width: 347px;
}
.canvas-test .vector-5-1 {
  height: 388px;
  left: 48px;
  position: absolute;
  top: 0px;
  width: 350px;
}
.canvas-test .vector-5-2 {
  height: 262px;
  left: 20px;
  position: absolute;
  top: 23px;
  width: 284px;
}
.canvas-test .vector-5-3 {
  height: 343px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 397px;
}
.canvas-test .vector-6 {
  height: 371px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 278px;
}
.canvas-test .vector-6-1 {
  height: 330px;
  left: 0px;
  position: absolute;
  top: 42px;
  width: 430px;
}
.canvas-test .vector-6-2 {
  height: 292px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 271px;
}
.canvas-test .vector-6-3 {
  height: 434px;
  left: 25px;
  position: absolute;
  top: 0px;
  width: 317px;
}
.canvas-test .vector-7 {
  align-self: center;
  height: 2124px;
  margin-left: 103px;
  margin-top: 62px;
  width: 674px;
}
.canvas-test .vector-7-1 {
  height: 2124px;
  left: 243px;
  position: absolute;
  top: 788px;
  width: 674px;
}
.canvas-test .vector-8 {
  height: 9px;
  width: 14px;
}
.didot-normal-burning-sand-48px {
  color: var(--burning-sand);
  font-family: "Didot", Helvetica, Arial, serif;
  font-size: 48px;
}
.didot-regular-normal-burning-sand-34px {
  color: var(--burning-sand);
  font-family: "Didot-Regular", Helvetica, Arial, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}
.lato-normal-sonic-silver-12px {
  color: var(--sonic-silver);
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.lato-normal-white-16px {
  color: white;
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.lato-normal-wisteria-12px {
  color: var(--wisteria);
  font-family: "Lato", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.roboto-bold-burning-sand-18px {
  color: var(--burning-sand);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-eminence-12px {
  color: var(--eminence);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-gray-18px {
  color: var(--gray);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-white-16px {
  color: white;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.roboto-normal-burning-sand-12px {
  color: var(--burning-sand);
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(1, 0, 10, 0.68);
  --burning-sand: rgba(210, 142, 119, 1);
  --eminence: rgba(88, 45, 132, 1);
  --gray: rgba(126, 126, 126, 1);
  --sonic-silver: rgba(118, 118, 118, 1);
  --wisteria: rgba(148, 112, 186, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
